html {
  height: 100%;
  width: 100%;

}

.kdb {
  color:red;
  background-color: black;
}

h1,
h2 {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  font-size: 50px;

}

.text-mid {
  text-align: center;
}

.pad-auto {
  padding-left: auto;
  padding-right: auto;
}

.mar-auto {
  margin-left: auto;
  margin-right: auto;
}

.mar-5 {
  margin-left: 5%;
  margin-right: 5%;
}

body,
footer {
  background-color: #333;
  color: white;
}

.page {
  width: 75%;
  margin-left: 5%;
  margin-right: 5%;
}

.thumb {
  width: 30%;
  display: inline-block;
}

.smallImg {
  width: 75px;
  display: inline-block;
}