html {
  height: 100%;
  width: 100%;
}
h1 {
  color: #f00;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #f0f;
  font-size: 50px;
}
body {
  background-color: #aaa;
  color: white;
  text-align: center;
  display:block;
}
table, tr, td {
  border: solid white;
  border-collapse: collapse;
  padding: 5px;
  color:white;
}
#main {
  background: red;
  padding-left: 5%;
  padding-right: 5%;
}
.page {
  width: 45%;

}