#full {
    width: 1000px;
    margin: auto;
}

#currency-container,
#golems-container {
    display: flex;
    justify-content: space-between;
}

#stone-currency,
#metal-currency,
#gem-currency {
    width: 300px;
    border: 1px solid black;
    text-align: center;
    padding: 40px;
}

#golems-container {
    /* display: inline-grid; */
    margin-top: 40px;
}

#stone-generator,
#metal-generator,
#gem-generator {
    display: inline;
}

.golems {
    border: 1px solid black;
    width: 300px;
}

.golems span {
    display: block;
}