* {
    box-sizing: border-box;
}


#firstRow {
    margin: 40px;
    font-size: 3em;
    text-align: center;
}

#secondRow {
    display: flex;
    width: 1000px;
    margin: auto;
    text-align: right;
}

#cap,
#perSecond {
    text-align: center;
    width: 150px;
    padding: 15px;
    font-size: 1.3em;
    cursor: pointer;
}

.generators-container {
    display: flex;
    width: 1080px;
    flex-wrap: wrap;
    margin: auto;
}

.generator,
.automator {
    display: flex;
    border: 2px solid khaki;
    background-color: beige;
    text-align: center;
    width: 200px;
    padding: 15px;
    margin: 8px;
    font-size: 1.3em;
    cursor: pointer;
}